name: Test python

on:
  pull_request:
    paths:
      - '.github/workflows/test.yml'
      - 'pyproject.toml'
      - 'bq_validator/**/*.py'
      - 'setup.py'
      - 'tests/**/*.py'
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11"]
      fail-fast: false

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Flit
        if: steps.cache.outputs.cache-hit != 'true'
        run: bash dev/setup.sh
      - name: Lint
        if: ${{ matrix.python-version != '3.6' }}
        run: bash dev/lint_python.sh
      - name: Test
        run: bash dev/test_python.sh
      - name: Check the `bq-validator` command
        run: |
          bq-validator --help
